	form{
		margin-top:15px;
		text-align: center;
		font-size:25px;
	}
	
	input{
		width:170px;
		height:30px;
		vertical-align: middle;
	}
	
	label{
		font-family:Verdana;
	}
	.error {
		font-size:25px;
		font-family:Verdana;
		color:darkblue;
		margin-left:20;
	}
	
	table {
		background-color:blue;
		text-align: center;
		margin:auto;
	}
	
	.teste {
		border:2px	
	}
	
	